<!DOCTYPE html>
<html>
<head>
    <title>Container API</title>
</head>
<body>
    <h1>Container API</h1><br>
</body>
</html>
<style>
    body {
        background-color: rgb(29, 29, 36);
        padding: 50px;
        font-size: 2em;
    }
    body h1, body h2 {
        color: white;
    }
    body a {
        display: contents;
        text-decoration: none;
        margin: 10px;
        color: #85ccff;
    }
    body a:hover {
        color: #75abd1;
    }
    .intext {
        color: aqua;
        width: fit-content;
    }
</style>